@charset "UTF-8";
/*FADE IN MENU OVERLAY*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 99;
  background-color: #231f20;
  font-family: "FuturaPTDemi";
  /*overlay menu*/
}
.nav_logo {
  position: relative;
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 2rem;
}
.nav_desktop-list {
  display: none;
}
@media (min-width: 1200px) {
  .nav_desktop-list {
    display: flex;
    justify-content: right;
    align-items: center;
  }
}
.nav_desktop-list .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0 1rem 0 0;
}
.nav_desktop-list .menu-item a {
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0 1rem;
}
.nav_desktop-list .menu-item :hover {
  color: #36bac1;
}
.nav_overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  background-color: #36bac1;
  -webkit-animation: fadeIn 0.5s;
  /* Safari 4+ */
  -moz-animation: fadeIn 0.5s;
  /* Fx 5+ */
  -o-animation: fadeIn 0.5s;
  /* Opera 12+ */
  -ms-animation: fadeIn 0.5s;
  /*IE11 & Microsoft Edge*/
  animation: fadeIn 0.5s;
  /* IE 10+, Fx 29+ */
}
.nav_overlay .menu li.current-menu-item a {
  color: #ff314f;
}
.nav_overlay-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* Safari 4+ */
  -moz-transform: translate(-50%, -50%);
  /* Fx 5+ */
  -o-transform: translate(-50%, -50%);
  /* Opera 12+ */
  -ms-transform: translate(-50%, -50%);
  /*IE11 & Microsoft Edge*/
  transform: translate(-50%, -50%);
  text-align: left;
}
.nav_overlay-content .menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.nav_overlay-content .menu-item a {
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
  display: block;
}
@media only screen and (max-width: 767px) {
  .nav_overlay-content .menu-item a {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}
@media only screen and (max-width: 450px) {
  .nav_overlay-content .menu-item a {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
}
.nav_overlay-content .menu-item :hover {
  color: #ff314f;
}

.nav_overlay a:hover,
.overlay a:focus {
  color: #fff;
}

.active-menu {
  color: #36bac1;
}

.menu li.current-menu-item a {
  color: #36bac1;
}

.footer {
  font-family: FuturaPTBook;
  background-color: #231f20;
  font-size: 18px;
  z-index: 11;
  padding: 0 0 3rem;
  margin-top: 10%;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    padding: 0 0 2rem;
  }
}
@media (min-width: 2200px) {
  .footer {
    font-size: 15px;
  }
}
@media (min-width: 2800px) {
  .footer {
    font-size: 60px;
  }
}
.footer__box {
  margin: 0 0 0 1rem;
  width: 100%;
}
@media (min-width: 1200px) {
  .footer__box {
    margin: 0 0 0 7rem;
    display: flex;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .footer__box {
    margin: 0;
  }
}
.footer__nav {
  padding: 0 0 0 10px;
}
@media (min-width: 1200px) {
  .footer__nav {
    padding: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .footer__nav {
    padding: 2rem 4rem 0;
  }
}
.footer__nav-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.footer__nav-link--item {
  color: #fff;
  padding: 0.6rem 0 0;
  list-style-type: none;
}
.footer__nav-link--item a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.footer__nav-link--item a:hover {
  color: #36bac1;
}
.footer__nav-link--item p {
  text-align: left;
  max-width: 520px;
}
.footer__nav-link--label {
  font-size: 14px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .footer__nav-link--label {
    font-size: 12px;
  }
}
.footer__nav-link:hover li {
  color: #36bac1;
}

.item-head p {
  font-family: FuturaPTHeavy;
  line-height: 85%;
  font-size: 3rem;
}
@media only screen and (max-width: 768px) {
  .item-head p {
    font-size: 2rem;
  }
}

.item-phone a {
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  .item-phone a {
    font-size: 1rem;
  }
}

.item-mail a {
  display: block;
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .item-mail a {
    font-size: 1rem;
  }
}

.item-txt p {
  font-size: 1rem;
}

.section {
  position: relative;
  width: 90%;
  margin: 0 auto;
  font-size: 1.45rem;
  text-align: justify;
  text-justify: inter-word;
  color: #231f20;
  margin: 7% auto 0;
  max-width: 1750px;
  overflow-x: none;
}
@media only screen and (max-width: 1024px) {
  .section {
    margin: 7rem auto 0;
  }
}
.section__star {
  position: absolute;
  top: 0;
  right: 10%;
  z-index: -1;
  width: 12vw;
  max-width: 380px;
}
@media only screen and (max-width: 1800px) {
  .section__star {
    right: 8%;
  }
}
@media only screen and (max-width: 1024px) {
  .section__star {
    width: 15%;
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .section__star {
    width: 20%;
    top: 10rem;
  }
}
.section__all {
  position: absolute;
  top: -10%;
  right: 5%;
  z-index: 10;
  width: 10vw;
  max-width: 200px;
}
@media only screen and (max-width: 1024px) {
  .section__all {
    width: 20%;
    right: 0;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
.container__header {
  width: 100%;
  text-align: center;
  font-family: "FuturaPTHeavy";
}
.container__header-head {
  font-size: 4.3rem;
  color: #231f20;
}
@media only screen and (max-width: 768px) {
  .container__header-head {
    font-size: 3.3rem;
  }
}
.container__header-subHead {
  font-family: "FuturaPTHeavy";
  font-size: 2.1rem;
  color: #36bac1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .container__header-subHead {
    flex-direction: column;
  }
}
.container__header-subHead p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 2%;
}
@media only screen and (max-width: 1024px) {
  .container__header-subHead p {
    flex-direction: column;
  }
}
.container__header-subHead img {
  width: 150px;
  height: auto;
}

.social {
  position: fixed;
  bottom: 2rem;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
@media (max-width: 1024px) {
  .social {
    bottom: 3rem;
  }
}
.social__link {
  text-decoration: none;
  padding: 0.5rem 0 0.5rem 1rem;
}
.social__link img {
  width: 30px;
  height: auto;
}

.welcome {
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .welcome {
    width: 100%;
  }
}
.welcome__head {
  width: 100%;
  font-family: "FuturaPTHeavy";
  font-size: 5.3rem;
  text-align: center;
  color: #36bac1;
  margin: 0;
  padding: 0;
}
.welcome__box {
  margin: -25px 0 0;
  padding: 2rem 3rem;
  text-align: center;
}
.welcome__box-txt {
  font-family: "FuturaPTHeavy";
  font-size: 1.8rem;
  color: #231f20;
}
@media only screen and (max-width: 768px) {
  .welcome__box-txt {
    font-size: 1.3rem;
  }
}

.about {
  position: relative;
  margin: 7% auto;
}
@media only screen and (max-width: 768px) {
  .about {
    margin: 15% auto;
  }
}
@media only screen and (max-width: 450px) {
  .about {
    margin: 25% auto 20%;
  }
}
.about__head {
  text-align: center;
}
.about__head-logo {
  max-width: 450px;
}
@media only screen and (max-width: 768px) {
  .about__head-logo {
    width: 80%;
  }
}
.about__subHead {
  font-family: "FuturaPTHeavy";
  font-size: 3rem;
  margin: 2.5rem 0;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .about__subHead {
    text-align: center;
    width: 100%;
    font-size: 2rem;
  }
}
.about__opening {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .about__opening {
    width: 100%;
  }
}
.about__txt {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}
.about__imgRight {
  position: absolute;
  top: 14rem;
  right: 5%;
  z-index: -1;
  width: 35vw;
  max-width: 500px;
}
@media only screen and (max-width: 768px) {
  .about__imgRight {
    display: none;
  }
}
.about__imgLeft {
  position: absolute;
  bottom: -5rem;
  left: 0;
  z-index: -1;
  max-width: 210px;
}
@media only screen and (max-width: 1024px) {
  .about__imgLeft {
    top: auto;
    bottom: 0;
    width: 25vw;
    left: -10%;
  }
}
@media only screen and (max-width: 768px) {
  .about__imgLeft {
    display: none;
  }
}

.blog {
  position: relative;
  display: block;
  margin: 8% 0;
}
@media only screen and (max-width: 1024px) {
  .blog {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 1500px) {
  .blog {
    min-height: 550px;
  }
}
@media only screen and (min-width: 1800px) {
  .blog {
    min-height: 600px;
    margin: 8% 0;
  }
}
.blog__img {
  position: absolute;
  top: 20px;
  width: 45%;
  max-width: 600px;
  height: auto;
}
@media only screen and (max-width: 1024px) {
  .blog__img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1024px) {
  .blog__img {
    position: relative;
  }
}
.blog__img-left {
  right: 0;
}
.blog__window {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 4% 0;
}
.blog__window-border {
  width: 90%;
  border: 2.8px solid #36bac1;
  z-index: -1;
}
@media only screen and (max-width: 1024px) {
  .blog__window-border {
    width: 100%;
    padding: 18% 0 5%;
    margin: -15% auto 0;
  }
}
.blog__window-content {
  width: 53%;
  padding: 1rem 2.5rem 2rem;
}
@media only screen and (max-width: 1024px) {
  .blog__window-content {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}
.blog__window-head {
  font-family: "FuturaPTHeavy";
  font-size: 4.3rem;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .blog__window-head {
    padding: 1rem 2rem;
  }
}
.blog__window-subHead {
  font-family: "FuturaPTHeavy";
  font-size: 1.8rem;
  color: #ff314f;
  line-height: 30px;
  padding: 4% 0;
}
@media only screen and (max-width: 1024px) {
  .blog__window-subHead {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .blog__window-txt {
    padding: 1rem 2rem;
  }
}
.blog__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
@media only screen and (max-width: 1024px) {
  .blog__right {
    align-items: center;
    justify-content: center;
  }
}
.blog__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media only screen and (max-width: 1024px) {
  .blog__left {
    align-items: center;
    justify-content: center;
  }
}

.wrapper-carousel {
  position: relative;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .wrapper-carousel {
    width: 90%;
    margin: 0 auto 20%;
  }
}

.carousel {
  width: 90%;
  margin: 0 auto;
}

.carousel-padd {
  padding: 0 5%;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.wrapper .slick-dots li button::before {
  font-size: 20px;
  color: black;
}

.slick-prev, .slick-next {
  z-index: 90;
}

.slick-prev::before {
  content: "◀" !important;
  font-size: 2rem !important;
  color: #36bac1 !important;
}

.slick-next::before {
  content: "▶" !important;
  font-size: 2rem !important;
  color: #36bac1 !important;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.slick__books {
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .slick__books img {
    width: 85%;
  }
}
.slick__books-info--center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .slick__books-info--center {
    justify-content: center;
    align-items: center;
  }
}
.slick__books-info {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .slick__books-info {
    width: 100%;
  }
}
.slick__books-info div {
  min-height: 120px;
}
.slick__books-info h5 {
  font-family: "FuturaPTBoldOblique";
  font-size: 1.4rem;
  line-height: 32px;
}
.slick__books-info p {
  font-family: "FuturaPTBook";
  font-size: 1.2rem;
  line-height: 32px;
  padding: 2% 0;
}
.slick__books-info .button {
  background-color: #231f20;
  -webkit-box-shadow: 10px 10px 0px 0px #36bac1;
  -moz-box-shadow: 10px 10px 0px 0px #36bac1;
  box-shadow: 10px 10px 0px 0px #36bac1;
}
.slick__books-info .button:hover {
  background-color: #231f20;
  -webkit-box-shadow: 10px 10px 0px 0px #dddd0a;
  -moz-box-shadow: 10px 10px 0px 0px #dddd0a;
  box-shadow: 10px 10px 0px 0px #dddd0a;
  transition: all 0.1s ease-in-out;
}
.slick__books .bestseller {
  position: absolute;
  display: block;
  bottom: 10%;
  left: 4%;
  z-index: -1;
  width: 100px;
}
@media only screen and (max-width: 500px) {
  .slick__books .bestseller {
    width: 80px;
    left: 0%;
    bottom: 22%;
  }
}
.slick__books .new {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100px;
}
@media only screen and (max-width: 500px) {
  .slick__books .new {
    width: 80px;
  }
}

.items {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5%;
}
@media only screen and (max-width: 1024px) {
  .items {
    flex-direction: column;
  }
}
.items-info {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 0 7% 0 5%;
  text-align: left;
}
@media only screen and (max-width: 1024px) {
  .items-info {
    width: 50%;
    margin-right: 0%;
    text-align: center;
    align-items: center;
    margin: 0 7% 0 0;
  }
}
@media only screen and (max-width: 500px) {
  .items-info {
    width: 80%;
    margin-right: 0%;
  }
}
.items-info div {
  min-height: 120px;
}
.items-info a {
  text-decoration: none;
  color: #231f20;
}
.items-info h5 {
  font-family: "FuturaPTBoldOblique";
  font-size: 2.2rem;
  line-height: 32px;
}
.items-info p {
  font-family: "FuturaPTBook";
  font-size: 1.2rem;
  line-height: 32px;
  padding: 2% 0;
  text-align: justify;
}
.items-info .button {
  margin-top: 1rem;
  background-color: #231f20;
  -webkit-box-shadow: 10px 10px 0px 0px #36bac1;
  -moz-box-shadow: 10px 10px 0px 0px #36bac1;
  box-shadow: 10px 10px 0px 0px #36bac1;
  color: #fff;
}
.items-info .button:hover {
  background-color: #231f20;
  -webkit-box-shadow: 10px 10px 0px 0px #dddd0a;
  -moz-box-shadow: 10px 10px 0px 0px #dddd0a;
  box-shadow: 10px 10px 0px 0px #dddd0a;
  transition: all 0.1s ease-in-out;
}
.items .items__stars {
  position: relative;
  margin: 0 1rem 0 0;
}
@media only screen and (max-width: 768px) {
  .items .items__stars {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.items .items__stars .bestseller {
  display: block;
  z-index: 10;
  width: 100px;
  margin: 0 0 1rem;
}
@media only screen and (max-width: 500px) {
  .items .items__stars .bestseller {
    width: 80px;
  }
}
.items .items__stars .new {
  display: block;
  z-index: 10;
  width: 100px;
}
@media only screen and (max-width: 500px) {
  .items .items__stars .new {
    width: 80px;
  }
}
.items__books {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .items__books {
    justify-content: center;
    width: 70%;
  }
}
@media only screen and (max-width: 650px) {
  .items__books {
    width: 90%;
  }
}
.items__books img {
  width: 100%;
  height: auto;
  max-width: 465px;
}
.items__author {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
@media only screen and (max-width: 1024px) {
  .items__author {
    justify-content: center;
  }
}
.items__author .author__photo {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 50%;
  -webkit-box-shadow: -30px 30px 0px 0px #dada0a;
  -moz-box-shadow: -30px 30px 0px 0px #dada0a;
  box-shadow: -30px 30px 0px 0px #dada0a;
}
@media only screen and (max-width: 1024px) {
  .items__author .author__photo {
    width: 180px;
    height: 180px;
    margin: 2rem 0;
  }
}
.items__author .illustrator__photo {
  -webkit-box-shadow: -30px 30px 0px 0px #ff314f;
  -moz-box-shadow: -30px 30px 0px 0px #ff314f;
  box-shadow: -30px 30px 0px 0px #ff314f;
}

.items-start {
  align-items: flex-start;
}
@media only screen and (max-width: 1024px) {
  .items-start {
    align-items: center;
  }
}

.slick__author-imgBox {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .slick__author-imgBox {
    width: 300px;
    height: 350px;
  }
}
@media only screen and (max-width: 600px) {
  .slick__author-imgBox {
    width: 80%;
    height: 250px;
  }
}
.slick__author-imgBox .author__photo {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  -webkit-box-shadow: -30px 30px 0px 0px #dada0a;
  -moz-box-shadow: -30px 30px 0px 0px #dada0a;
  box-shadow: -30px 30px 0px 0px #dada0a;
}
@media only screen and (max-width: 1200px) {
  .slick__author-imgBox .author__photo {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 600px) {
  .slick__author-imgBox .author__photo {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
}
.slick__author-imgBox .illustrator__photo {
  -webkit-box-shadow: -30px 30px 0px 0px #ff314f;
  -moz-box-shadow: -30px 30px 0px 0px #ff314f;
  box-shadow: -30px 30px 0px 0px #ff314f;
}
.slick__author-info a {
  text-decoration: none;
  color: #231f20;
}
.slick__author-info h5 {
  font-family: "FuturaPTBold";
  font-size: 1.5rem;
  line-height: 32px;
  text-align: center;
  padding: 0 0 5%;
}
.slick__author-info p {
  font-family: "FuturaPTBook";
  font-size: 1.2rem;
  line-height: 32px;
  padding: 2% 0;
  text-align: center;
  padding: 0 15%;
}
@media only screen and (max-width: 600px) {
  .slick__author-info p {
    padding: 0 5%;
  }
}

.soon {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5% auto;
}
@media only screen and (max-width: 1024px) {
  .soon {
    flex-direction: column;
    margin: 20% auto;
  }
}
.soon__left {
  width: 50%;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .soon__left {
    width: 80%;
  }
}
.soon__left img {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.soon__right {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .soon__right {
    width: 100%;
  }
}
.soon__right-head {
  width: fit-content;
  font-family: "FuturaPTBoldOblique";
  font-size: 2.2rem;
  line-height: 32px;
  text-align: left;
}
@media only screen and (max-width: 1024px) {
  .soon__right-head {
    width: 100%;
  }
}
.soon__right-subHead {
  width: fit-content;
  font-family: "FuturaPTBook";
  font-size: 1.5rem;
  line-height: 32px;
  text-align: left;
  padding: 2% 0;
}
@media only screen and (max-width: 1024px) {
  .soon__right-subHead {
    width: 100%;
  }
}
.soon__right-date {
  font-family: "FuturaPTBook";
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 32px;
  text-align: left;
  padding: 4% 0 2%;
}
.soon__right-txt {
  font-family: "FuturaPTBook";
  font-size: 1.5rem;
  line-height: 27px;
}

a {
  text-decoration: none;
}

.copyrights {
  width: 100%;
  font-family: "FuturaPTBook";
  font-style: italic;
  font-size: 12px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #231f20;
  margin-top: 30px;
}
@media only screen and (max-width: 1024px) {
  .copyrights {
    margin: 0 0 1rem;
    padding: 0;
  }
}

.copyrights_abs {
  width: 100%;
  font-family: "FuturaPTBook";
  position: absolute;
  bottom: 55px;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .copyrights_abs {
    bottom: 3px;
  }
}

.catalog {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.catalog img {
  width: 100%;
  height: auto;
}
.catalog .catalog__button-box {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single {
  width: 75%;
}
.single .blog__window-subHead {
  text-align: center;
}
.single h1, .single h2, .single h3, .single h4, .single h5 {
  margin: 1rem 0;
}
@media only screen and (max-width: 1024px) {
  .single h1, .single h2, .single h3, .single h4, .single h5 {
    margin: 5% 0;
  }
}
.single p {
  margin: 2rem 0;
}
@media only screen and (max-width: 1024px) {
  .single p {
    margin: 2rem 0;
  }
}
.single__back {
  position: absolute;
  top: 15%;
  left: 2%;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: FuturaPTDemi;
  text-decoration: none;
  font-size: 1.8rem;
  color: #231f20;
}
@media only screen and (max-width: 1024px) {
  .single__back {
    top: 6rem;
  }
}
@media only screen and (max-width: 600px) {
  .single__back {
    top: 5rem;
  }
}
.single__back::before {
  content: "◀";
  font-size: 2rem;
  color: #36bac1;
  padding: 0 10px 0 0;
}
.single__top {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 5%;
  padding: 4% 0 0;
}
@media only screen and (max-width: 1400px) {
  .single__top {
    margin: 5% auto;
  }
}
@media only screen and (max-width: 1024px) {
  .single__top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5%;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .single__top {
    padding: 0;
  }
}
.single__top ul {
  list-style: none;
}
@media only screen and (max-width: 1024px) {
  .single__top ul {
    margin: 5% auto 15%;
  }
}
.single__top .wrapper-carousel {
  width: 30%;
  margin: 0;
}
@media only screen and (max-width: 1400px) {
  .single__top .wrapper-carousel {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .single__top .wrapper-carousel {
    width: 100%;
  }
}
.single__gallery {
  padding: 10px;
  border: 1px solid #231f20;
}
@media only screen and (max-width: 1024px) {
  .single__gallery img {
    width: 100%;
    height: auto;
  }
}
.single__info {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0 7% 0 5%;
  text-align: left;
}
@media only screen and (max-width: 1024px) {
  .single__info {
    width: 50%;
    margin: 5% 0;
  }
}
@media only screen and (max-width: 500px) {
  .single__info {
    width: 100%;
    margin-right: 0%;
  }
}
.single__info h5 {
  font-family: "FuturaPTBoldOblique";
  font-size: 2.2rem;
  line-height: 32px;
}
.single__info p {
  font-family: "FuturaPTBook";
  padding: 0 0 10%;
  text-align: left;
  font-size: 18px;
}
.single__info .button {
  background-color: #231f20;
  -webkit-box-shadow: 10px 10px 0px 0px #36bac1;
  -moz-box-shadow: 10px 10px 0px 0px #36bac1;
  box-shadow: 10px 10px 0px 0px #36bac1;
  margin: 0 auto;
  padding: 10px 20px;
}
.single__info .button:hover {
  background-color: #231f20;
  -webkit-box-shadow: 10px 10px 0px 0px #36bac1;
  -moz-box-shadow: 10px 10px 0px 0px #36bac1;
  box-shadow: 10px 10px 0px 0px #36bac1;
  margin: 0 auto;
  padding: 10px 20px;
}
.single .items__stars {
  position: relative;
  margin: 0 1rem 0 0;
  display: flex;
  margin: -20px 0 0 0;
}
.single .items__stars .bestseller {
  display: block;
  z-index: 10;
  width: 100px;
  margin: 0 0 1rem;
}
@media only screen and (max-width: 500px) {
  .single .items__stars .bestseller {
    width: 80px;
  }
}
.single .items__stars .new {
  display: block;
  z-index: 10;
  width: 100px;
  margin: -18px 0 0 10px;
}
@media only screen and (max-width: 500px) {
  .single .items__stars .new {
    width: 80px;
  }
}
.single__buy {
  position: absolute;
  top: 5%;
  right: -10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 1400px) {
  .single__buy {
    position: relative;
    right: auto;
    top: auto;
    margin: 0;
  }
}
.single__buy-button {
  text-align: center;
}
.single__buy-button .button:hover {
  padding: 10px 20px;
  background-color: #231f20;
  -webkit-box-shadow: 10px 10px 0px 0px #dddd0a;
  -moz-box-shadow: 10px 10px 0px 0px #dddd0a;
  box-shadow: 10px 10px 0px 0px #dddd0a;
}
.single__buy-box {
  width: 400px;
  height: fit-content;
  margin: 0;
}
@media only screen and (max-width: 1400px) {
  .single__buy-box {
    width: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  .single__buy-box {
    width: 100%;
    height: fit-content;
  }
}
.single .buybox-widget {
  border: 2.8px solid #36bac1;
  background-color: #fff;
}
@media only screen and (min-width: 1401px) {
  .single__content-padd {
    padding: 0 350px 0 0;
  }
}
.single__content {
  margin: 5% 0;
}
.single__content-box {
  margin: 2% 0 4%;
}
.single__content-box img {
  width: 100%;
  height: auto;
}
.single__content-title {
  font-family: FuturaPTHeavy;
  font-size: 4.3rem;
}
@media only screen and (max-width: 1024px) {
  .single__content-title {
    padding: 20% 0 0;
  }
}
.single__content-head {
  font-family: FuturaPTBold;
  font-size: 1.8rem;
  margin: 3% 0;
}
.single__content-subHead {
  font-family: FuturaPTHeavy;
  font-size: 1.8rem;
  margin: 3% 0;
  color: #ff314f;
}
.single__content-txt {
  font-family: FuturaPTBook;
  font-size: 1.5rem;
  text-align: justify;
}
.single__content .text-center {
  text-align: center;
}
.single__photo {
  width: 100%;
}
.single__photo img {
  width: 100%;
  height: auto;
}
.single .carousel .slick-current {
  cursor: pointer;
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
}
.single .carousel .slick-current:active {
  cursor: pointer;
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
}

.single-blog {
  width: 60%;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .single-blog {
    width: 95%;
  }
}

.single__authors {
  margin-top: 200px;
}
@media only screen and (max-width: 1024px) {
  .single__authors {
    margin-top: 20%;
  }
}

.button {
  width: fit-content;
  display: block;
  padding: 10px 20px;
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  background-color: #231f20;
  -webkit-box-shadow: 10px 10px 0px 0px #dddd0a;
  -moz-box-shadow: 10px 10px 0px 0px #dddd0a;
  box-shadow: 10px 10px 0px 0px #dddd0a;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  color: #fff;
  padding: 11px 21px;
  background-color: #36bac1;
  -webkit-box-shadow: 10px 10px 0px 0px #231f20;
  -moz-box-shadow: 10px 10px 0px 0px #231f20;
  box-shadow: 10px 10px 0px 0px #231f20;
}

.button-small {
  font-size: 1rem;
}

.blog__button-right {
  margin-right: 20%;
}
@media only screen and (max-width: 1024px) {
  .blog__button-right {
    margin-right: 0;
  }
}

.blog__button-left {
  margin-left: 20%;
}
@media only screen and (max-width: 1024px) {
  .blog__button-left {
    margin-left: 0;
  }
}

.topBtn {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  opacity: 0;
  font-size: 2rem;
  border: none;
  background: none;
  color: #36bac1;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  z-index: 95;
}
@media only screen and (max-width: 1024px) {
  .topBtn {
    bottom: 3rem;
    right: 1rem;
  }
}

.topBtn-red {
  color: #ff314f;
}

.mobile_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
@media (min-width: 1200px) {
  .mobile_btn {
    display: none;
  }
}

.mobile_btn-hamburger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.mobile_btn-hamburger::before,
.mobile_btn-hamburger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.mobile_btn-hamburger::before {
  transform: translateY(-16px);
}

.mobile_btn-hamburger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.mobile_btn.open .mobile_btn-hamburger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.mobile_btn.open .mobile_btn-hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.mobile_btn.open .mobile_btn-hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "FuturaPTBook";
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 2800px) {
  body {
    font-size: 20px;
  }
}

.desktop {
  display: block;
}
@media (max-width: 600px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 600px) {
  .mobile {
    display: block;
  }
}

.m-b-4 {
  margin-bottom: 4%;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: FuturaPTDemi;
  src: url("../fonts/FuturaPTDemi.woff") format("woff"), url("../fonts/FuturaPTDemi.woff") format("woff");
}
@font-face {
  font-family: FuturaPTBook;
  src: url("../fonts/FuturaPTBook.woff") format("woff"), url("../fonts/FuturaPTBook.woff") format("woff");
}
@font-face {
  font-family: FuturaPTHeavy;
  src: url("../fonts/FuturaPTHeavy.woff") format("woff"), url("../fonts/FuturaPTHeavy.woff") format("woff");
}
@font-face {
  font-family: FuturaPTBoldOblique;
  src: url("../fonts/FuturaPTBoldOblique.woff") format("woff"), url("../fonts/FuturaPTBoldOblique.woff") format("woff");
}
@font-face {
  font-family: FuturaPTBold;
  src: url("../fonts/FuturaPTBold.woff") format("woff"), url("../fonts/FuturaPTBold.woff") format("woff");
}

/*# sourceMappingURL=style.css.map */
