@font-face {
    font-family: obviously_wide_regular;
    src: url('../fonts/font_obviously_wide_regular/Obviously-Wide.woff') format('woff'),
    url('../fonts/font_obviously_wide_regular/Obviously-Wide.woff2') format('woff');
}

@font-face {
    font-family: obviously_wide_semibold;
    src: url('../fonts/font_obviously_wide_semibold/Obviously Wide/Web/Obviously-Wide_Semibold.woff') format('woff'),
        url('../fonts/font_obviously_wide_semibold/Obviously Wide/Web/Obviously-Wide_Semibold.woff2') format('woff');
}

@font-face {
    font-family: obviously_wide_bold;
    src: url('../fonts/font_obviously_wide_bold/Obviously Wide/Web/Obviously-Wide_Bold.woff') format('woff'),
        url('../fonts/font_obviously_wide_bold/Obviously Wide/Web/Obviously-Wide_Bold.woff2') format('woff');
        font-weight: bold;
}

@font-face {
    font-family: FuturaPTDemi;
    src: url('../fonts/FuturaPTDemi.woff') format('woff'),
        url('../fonts/FuturaPTDemi.woff') format('woff');
}
@font-face {
    font-family: FuturaPTBook;
    src: url('../fonts/FuturaPTBook.woff') format('woff'),
        url('../fonts/FuturaPTBook.woff') format('woff');
}
@font-face {
    font-family: FuturaPTHeavy;
    src: url('../fonts/FuturaPTHeavy.woff') format('woff'),
        url('../fonts/FuturaPTHeavy.woff') format('woff');
}
@font-face {
    font-family: FuturaPTBoldOblique;
    src: url('../fonts/FuturaPTBoldOblique.woff') format('woff'),
        url('../fonts/FuturaPTBoldOblique.woff') format('woff');
}
@font-face {
    font-family: FuturaPTBold;
    src: url('../fonts/FuturaPTBold.woff') format('woff'),
        url('../fonts/FuturaPTBold.woff') format('woff');
}